<section class="color2"></section>
<section class="color3">
	<h1>PROGRAM</h1>
	<article>
    <p>
      Lys og salt er Kristent Nettverks årlige sommerfestival. I år inviterer vi til flotte dager på Hedmarktoppen. Vi kommer fra hele Norge til tilbedelse og utrustning for oppdraget Jesus ga oss. Med det usynlige for øye motiveres vi til å gi Jesus førsteplassen i menighet, familien og samfunnet. By og bygd skal fylles med lovprisning og kunnskap om Gud. Jesus og hans rike skal forandre landet vårt. Velkommen til dager der du blir berørt og utrustet til å leve et liv i Guds kraft!
    </p>
    <p>
      Se <a href="//www.facebook.com/Lysogsalt">facebook-siden</a> vår for oppdatert info!
    </p>

    <h4>På programmet</h4>
    <p>I tillegg til bibeltimer, barnesamlinger, lovsang, bønnemøter, volleyball, grilling, bading med mer skjer dette:</p>

    <h6>Tirsdag 14.7</h6>
    <p>
      Kveldsmøte med Keri Jones - «evangeliet i ånd og kraft»
    </p>

    <h6>Onsdag 15.7</h6>
    <p>
      Fellesseminar: «Kristent verdensbilde - forstå Guds verden»
    </p>

    <h6>Torsdag 16.7</h6>
    <p>
      Temadag med «En dag» om kampen mot moderne slaveri og menneskehandel.
      Seminar med Andreas Nordli - «Jesus ut til alle»
    </p>

    <h6>Fredag 17.7 (seminardag)</h6>
    <p>
      – Familie og medier<br/>
      – Profetisk perspektiv<br/>
      – Formidle evangeliet<br/>
      – Kristen arbeidsetikk og positiv innflytelse<br/>
    </p>

    <h6>Lørdag 18.7</h6>
    <p>
      «Fra visjon til handling»
    </p>

    <h6>Søndag 19.7</h6>
    <p>
      Gudstjeneste med utsendelse
    </p>

    <p>Egne ungdoms- og barneopplegg med seminarer og aktiviteter.</p>
	</article>
</section>
